.mobile-menu {
  display: flex;
  position: fixed;
  padding: 0;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
              visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 72px 16px 40px 16px;
  height: 100%;
}

.header-button-close {  
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-button-close:hover,
.header-button-close:focus {
  background-color: #404bbf;
  border: none;
}

.header-button-close:hover .header-icon-mob,
.header-button-close:focus .header-icon-mob {
  fill: #fff;
}

  .header-icon-mob {
    fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mob-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mob-nav-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  /* line-height: 40px; */ 
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mob-nav-title.current {
  position: relative;
  color: #404bbf;
  }

.mob-address {
  font-style: normal;
  margin-top: 24px;
}

.mob-contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mob-address-tel {
  color: #4d5ae5;
}

.mob-address-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mob-address-link:hover,
.mob-address-link:focus {
  color: #4d5ae5;
  }

.mob-social-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  margin-top: 48px;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
